#contenido-cita-consulta {
  height: 98%;
  padding: 1% 5%;

  .titulo {
    margin-bottom: 1%;
    border-bottom: 1px solid #d3d3d3;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;

    button {
      width: 190px !important;
      margin-left: 5%;
      border-radius: 10px !important;

      &:disabled {
        color: gray !important;
        border-color: gray !important;
      }

      .btn-info {
        color: #00A6FF;
        border-color: #00A6FF;
      }

      &.btn-danger {
        color: #d9534f;
        border-color: #d9534f;
      }
    }
  }
}