#contenido-paciente-consulta {
  height: 100%;
  padding: 1% 5%;

  .titulo {
    margin-bottom: 3%;
    border-bottom: 1px solid #d3d3d3;
  }

  .sort-column {
    div > input {
      display: none;
    }

    &:hover {
      div > input {
        display: inline;
      }
    }
  }

  .table.table-striped {
    tr {
      cursor: pointer;
      &:hover {
        background-color: rgba($color: #e9f5f9, $alpha: 0.5)
      }
    }

    td {
      &:focus {
        outline: none !important;
      }
    }
  }

  .row-expanded {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 140px;
    width: 100%;
    // overflow-x: scroll;
  }
}