@import './../../assets//styles/base.scss';

#contenido-paciente-consulta {
  height: 100%;
  padding: 1% 5%;

  .titulo {
    margin-bottom: 3%;
    border-bottom: 1px solid #d3d3d3;
  }

  .sort-column {
    div > input {
      display: none;
    }

    &:hover {
      div > input {
        display: inline;
      }
    }
  }

  .table.table-striped {
    tr {
      cursor: pointer;
      &:hover {
        background-color: rgba($color: #e9f5f9, $alpha: 0.5)
      }
    }

    td {
      &:focus {
        outline: none !important;
      }

      a {
        color: white;
        background-color: rgba($color: $azul_patronato, $alpha: 0.8);
        padding: 4px 8px;
        border-radius: 15px;
        font-size: 12px;

        &:hover {
          background-color: rgba($color: $azul_patronato, $alpha: 1.0);
        }
      }
    }
  }

  .row-expanded {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 140px;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .row-expanded {
    height: auto !important;
  }
}