#contenido-cita-ingreso {
  height: 98%;
  padding: 1% 5%;

  .titulo {
    margin-bottom: 3%;
    border-bottom: 1px solid #d3d3d3;
  }

  .table.table-striped {
    td {
      &:focus {
        outline: none !important;
      }
    }
  }

  form {
    .form-fieldset {
      width: 85%;
      margin: 0 auto;
      padding: 15px;

      .form-group {
        label {
          padding: 0px;
        }
      }
    }

    .react-datepicker-wrapper, 
    .react-datepicker__input-container {
      width: 100%;
    }

    .react-datepicker__input-container > input {
      width: 100%;
    }

    .react-datepicker__time-box {
      ul { padding: 0px };
    }

  }
}

#guardar-cita-btn {
  margin: 0px auto;
}